# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log

# Virtual environments
venv/
.env/

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Other
*.swp
*.bak
*.tmpvenv/
